body {
  display: flex;
  background: rgb(56, 56, 56);
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  /* border: 1px solid red; */
  padding: 5px;
  margin: 15px;
}

.menu {
  font-size: 2em;
  height: 40px;
  padding: 5px;
  text-align: center;
}

#movies {
  font-size: .5em;
  width: 200px;
  padding: 2em;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  display: flex;
  /* border: 1px solid red; */
  flex: 1;
  justify-content: center;
}

.screen {
  background: #fff;
  height: 100px;
  width: 300px;
  align-self: center;
  box-shadow: 2px -1px 26px 13px white;
}

.seats {
  display: flex;
  justify-content: center;
}

.column-a,
.column-b,
.column-c {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.summary {
  align-self: center;
}

/* ##################
Seat Options
 ################## */
.seat,
.option-seat {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 20px;
  height: 15px;
  margin: 5px;
}

.selected:hover,
.available:hover {
  padding: 2px;
  cursor: pointer;
  /* margin: -.5px; */
}

.available,
.one {
  background: #000;
}

.selected,
.two {
  background: rgb(54, 163, 170);
}

.occupied,
.three {
  background: rgb(214, 221, 220);
}

#counter,
#total-price {
  color: rgb(54, 163, 170);
}

/* ##################
Direct Tags
 ################## */
li {
  list-style: none;
  margin: 5px;
}

label {
  padding: 5px;
  margin-right: 25px;
}