@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');

body {
  display: flex;
  background: rgba(33, 33, 33, 0.89);
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Baloo Paaji', sans-serif;
}

.item {
  /* border: 1px solid red; */
  padding: 5px;
  margin: 15px;
}

.menu {
  font-size: 2em;
  height: 40px;
  padding: 5px;
  text-align: center;
}

#movies {
  font-size: .5em;
  width: 200px;
  padding: 2em;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  display: flex;
  /* border: 1px solid red; */
  flex: 1;
  justify-content: center;
}

.screen {
  background: #fff;
  height: 100px;
  width: 300px;
  transform: rotateX(-30deg);
  align-self: center;
  box-shadow: 0 3px 10px rgb(255, 255, 255, 1);
}

.seats {
  display: flex;
  justify-content: center;
}

.column-a,
.column-b,
.column-c {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.summary {
  align-self: center;
}

/* ##################
Seat Options
 ################## */
.seat,
.option-seat {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 25px;
  height: 20px;
  margin: 3px;
}

.selected:hover,
.available:hover {
  cursor: pointer;
  transform: scale(1.3);
  /* margin: -.5px; */
}

.available,
.one {
  background: #000;
}

.selected,
.two {
  background: #28d9f9;
}

.occupied,
.three {
  background: rgb(214, 221, 220);
}

#counter,
#total-price {
  color: #28d9f9;
}

/* ##################
Direct Tags
 ################## */
li {
  list-style: none;
  margin: 5px;
}

label {
  /* font-size: 1.5em; */
  padding: 5px;
  margin-right: 25px;
}